extends layout

block navbar 

  if user
    div.navbar
      a.navlink(href='/messages/new') Create a new Message

      if user.membership_status == "member"
        a.navlink(href="/membership") Become admin  
      else 
        a.navlink(href="/membership") Become a member

      a.navlink(href='/log-out') Log Out

block content

  if messages 
    for message in messages 
      div.message-container
        p.message.title #{message.title}
        p.message.content #{message.content}

        if user.membership_status != "user"
          p.message.author Posted on #{message.timestamp_formatted} by #{message.author.username} 

      if user.membership_status == "admin"
        form(method="POST" action="/messages/delete")
          input(type="hidden" name='messageId' value=message._id)
          button(type='submit') Delete Post

  else 
    form(method="POST" action="/log-in")
      label(for="username") Username 
      input(type="text" name='username' required placeholder="Enter your username")
      label(for="password") Password 
      input(type="password" name='password' required placeholder="Enter your password")  
      button(type=submit) Log In

    a.sign-up-button(href="/sign-up") Sign Up Here 





  if errors
    ul
      for error in errors
        li!= error.msg 