extends layout 

block navbar 

    if user
        div.navbar
            a.navlink(href='/messages/new') New Post
            a.navlink(href='/log-out') Log Out

block content 

    if user 

        h2 #{title} : #{user.membership_status.toUpperCase()}

        if user.membership_status == "user"
            form(method="POST")
                label(for="code") Membership Code: 
                input(type="text" name='code' placeholder='Enter code here..' required)
                button(type=submit) Become a member 
        if user.membership_status == "member"
            form(method="POST" action="/admin")
                label(for="code") Admin Code: 
                input(type="text" name='code' placeholder='Enter code here...' required)
                button(type=submit) Become an Admin

    else 
        h2 Please sign in to view this page
        a.link(href="/") Login Here 

    if errors
        ul
            for error in errors
                li!= error.msg 